baseURL: "https://mgorbatyuk.dev/"
languageCode: "en-us"
title: "mgorbatyuk.dev"
theme: ["PaperMod"]
pagination.pagerSize: 8

googleAnalytics: G-0T63X4Y3MJ
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true

minify:
    disableXML: true
    minifyOutput: true

params:
    newGoogleAnalytics: G-0T63X4Y3MJ
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: "mgorbatyuk.dev"
    description: "Maxim Gorbatyuk blogging about web development, dotnet and frontend programming, and life."
    author: "Maxim Gorbatyuk"
    keywords: [Blog, Portfolio, Programming]

    images: ["https://mgorbatyuk.dev/images/avatar.png"]

    ShowReadingTime: true
    ShowShareButtons: true
    comments: false
    defaultTheme: auto
    disableThemeToggle: false
    disableSpecial1stPost: false
    hidemeta: false
    showtoc: false
    tocopen: false

    assets:
        # disableHLJS: true # to disable highlightjs
        # disableFingerprinting: true
        favicon: "/images/avatar.png"
        favicon16x16: "/images/avatar.png"
        favicon32x32: "/images/avatar.png"
        apple_touch_icon: "/images/avatar.png"
        safari_pinned_tab: "/images/avatar.png"

    label:
        text: "mgorbatyuk.dev"
        icon: /images/avatar.png
        iconHeight: 35

    # profile-mode
    profileMode:
        enabled: true # needs to be explicitly set
        title: Maxim Gorbatyuk
        subtitle: Software .NET developer, teamlead, and mentor
        imageUrl: "/images/avatar_20230510.jpg"
        imageWidth: 400
        imageHeight: 425
        imageTitle: That's me
        buttons:
            - name: My blog
              url: blog
            - name: About me
              url: about
            - name: Public speaking
              url: speaking

    # home-info mode
    homeInfoParams:
        Title: "Hi there \U0001F44B"
        Content: Welcome to my blog

    socialIcons:
        - name: instagram
          url: "https://instagram.com/maxim.gorbatyuk"
        - name: telegram
          url: "https://t.me/maximgorbatyuk"
        - name: github
          url: "https://github.com/maximgorbatyuk"
        - name: gitlab
          url: "https://gitlab.com/maximgorbatyuk"
        

    #analytics:
    #    google:
    #        SiteVerificationTag: "XYZabc"

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]


outputs:
    home:
        - HTML
        - RSS
        - JSON

menu:
    main:
        - identifier: blog
          name: Blog
          url: /blog/
          weight: 10

        - identifier: about
          name: About me
          url: /about/
          weight: 20
        
        - identifier: archive
          name: Archive
          url: /archive/
          weight: 30

        - identifier: search
          name: Search
          url: /search/
          weight: 40

        - identifier: kb
          name: KB
          url: https://maximgorbatyuk.notion.site/maximgorbatyuk/Knowledge-base-f87dcc7b0e98498499cfd606d06bd0c7
          weight: 70

        - identifier: EV Charge Tracker
          name: EV Charge Tracker (iOS)
          url: https://mgorbatyuk.dev/ev-charging-tracker/
          weight: 80