
.d-inline-block {
    display: inline-block;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-none:hover {
    text-decoration: underline;
}

.no-border-bottom {
    border-bottom: none !important;
}

.text-decoration-none-hover {
    text-decoration: none !important;
}

.text-align-justify {
    text-align: justify;
}
